body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.img-section, .icon-logo, .client-link:hover, .client-link:focus, .client-link, .clients-ul, .social-link, .team-section-ul, .img-ul, .features__ul, .check-text, .container {
  display: flex;
  align-items: center;
}

:root {
  --accent-color: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden-section {
  display: none;
}
@media screen and (min-width: 1200px) {
  .visually-hidden-section {
    display: block;
  }
}

h2 {
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

h3 {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

p {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list {
  list-style: none;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 100%;
  min-height: 581px;
  background-color: #fff;
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  display: block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  margin: 0;
  fill: #000;
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: transparent;
  cursor: pointer;
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.modal-input-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 12px;
  outline: transparent;
  cursor: pointer;
  resize: none;
}
.modal-input-comment:focus {
  border-color: var(--accent-color);
}
.modal-input-comment::-moz-placeholder {
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment:-ms-input-placeholder {
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  color: rgba(117, 117, 117, 0.5);
}
.modal-input-comment::placeholder {
  text-align: left;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.01em;
  font-style: normal;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-label {
  display: block;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.checkbox-area {
  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;
}

.check-text {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  display: flex;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border-color: transparent;
  background-image: url(../images/galka.svg);
  background-repeat: no-repeat;
}
.input-check:focus + .check-text::before {
  border-color: var(--accent-color);
}

.check-box-a {
  font-size: 12px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 7px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-box-a {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

.button-submit {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-family: "Roboto";
  align-self: center;
  text-align: center;
  color: #ffffff;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
}

.current::after {
  position: absolute;
  content: "";
  margin-top: 42px;
  margin-left: -48px;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 50px;
  height: 4px;
}
@media screen and (min-width: 768px) {
  .current::after {
    margin-top: 46px;
  }
}

.curent::after {
  position: absolute;
  content: "";
  margin-top: 42px;
  margin-left: -72px;
  background-color: var(--accent-color);
  border-radius: 2px;
  width: 72px;
  height: 4px;
}
@media screen and (min-width: 768px) {
  .curent::after {
    margin-top: 46px;
  }
}

.navigation-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-color);
}

.navigation {
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
  gap: 50px;
}

.move__navigation {
  margin-left: 75px;
}
@media screen and (min-width: 1200px) {
  .move__navigation {
    margin-left: 90px;
  }
}

.contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 50px;
  }
}

.move__contacts {
  margin-left: 75px;
}
@media screen and (min-width: 1200px) {
  .move__contacts {
    margin-left: 270px;
  }
}

.contacts__link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  text-align: left;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.line-header {
  border-bottom: 1px solid #ececec;
}

.contacts__li {
  align-self: flex-start;
}
@media screen and (min-width: 768px) {
  .contacts__li:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .contacts__li:first-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__li {
    align-self: center;
  }
}

.icon-mail {
  margin-right: 10px;
  height: 12px;
  width: 16px;
  fill: currentColor;
}

.icon-tel {
  margin-right: 10px;
  height: 16px;
  width: 10px;
  fill: currentColor;
}

.menu-open {
  margin-left: auto;
  border: none;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  border: none;
  background-color: #fff;
  display: block;
  margin-left: auto;
}

.icon-menu {
  background-color: #fff;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-menu:hover, .icon-menu:focus {
  fill: var(--accent-color);
}

.mob-menu {
  padding: 21px 25px 21px 40px;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.mob-menu-father {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.container-mob {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.mob-menu-list {
  margin-bottom: 70px;
}

.mob-menu-list__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: left;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-list__li {
  margin-bottom: 32px;
}

.mob-menu-tel-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contacts__li {
  margin-bottom: 32px;
}

.mob-menu-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-list__link:hover,
.mob-menu-list__link:focus {
  color: #2196f3;
}

.soc-menu {
  margin-top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: rgba(33, 33, 33, 0.2);
  margin-bottom: 48px;
}

.soc-menu a {
  text-decoration: none;
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.main {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_mob_img.jpg);
  background-color: #2f303a;
  background-size: cover;
  height: 480px;
}
@media screen and (min-width: 768px) {
  .main {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header_tablet.jpg);
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .main {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img20.jpg);
    height: 600px;
    max-width: 1600px;
    background-size: cover;
  }
}

.nav__main {
  display: flex;
  align-content: center;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.solutions {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.solutions h1 {
  align-self: center;
  font-style: normal;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .solutions h1 {
    font-size: 44px;
    line-height: 1.36;
    font-weight: 800;
  }
}

.solutions__button {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
  margin: 0 auto;
  display: block;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .solutions__button {
    min-width: 216px;
  }
}

.features__ul {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .features__ul {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features__ul {
    align-items: flex-start;
    flex-wrap: nowrap;
    row-gap: 30px;
  }
}

.nav__features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .nav__features {
    padding-top: 94px;
    padding-bottom: 88px;
  }
}

.features__li {
  margin-bottom: 30px;
  width: 100%;
}
.features__li:first-child {
  margin-left: 0;
}
.features__li > h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__li:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .features__li:nth-child(4) {
    margin-bottom: 0;
  }
}
.features__li:nth-child(1)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/antenna.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.features__li:nth-child(2)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/clock.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.features__li:nth-child(3)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/diagram.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.features__li:nth-child(4)::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/astronaut.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .features__li {
    width: 354px;
  }
  .features__li > h3 {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features__li {
    width: 270px;
  }
}

.a-img-portfolio > h3 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #212121;
}

.a-img-portfolio > p {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-items > h2 {
  padding-bottom: 50px;
}

.img-ul {
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 94px;
}
.img-ul > li {
  position: relative;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 27px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background: #f5f4fa;
}
.team-section h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-section h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.team-section-ul {
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team-section-ul {
    margin-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section-ul {
    flex-wrap: nowrap;
  }
}

.team-section-li {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .team-section-li {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section-li {
    width: 270px;
  }
}
.team-section-li > p {
  font-size: 16px;
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
.team-section-li > h3 {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  text-transform: capitalize;
}

.team-member-div {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team-member-div h3 {
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-member-div p {
  padding-top: 10px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.soc-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.soc-item {
  width: 44px;
  height: 44px;
  display: flex;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.icon-soc {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .icon-soc, .social-link:focus .icon-soc {
  fill: #fff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients h2 {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.clients-ul {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .clients-ul {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-ul {
    min-width: 1200px;
  }
}

.clients-li {
  width: 210px;
  height: 92px;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .clients-li {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-li {
    width: 170px;
  }
}

.client-link {
  width: 100%;
  height: 100%;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  width: 210px;
  height: 92px;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
}
@media screen and (min-width: 768px) {
  .client-link:hover, .client-link:focus {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-link:hover, .client-link:focus {
    width: 170px;
  }
}

.icon-logo {
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover .icon-logo, .client-link:focus .icon-logo {
  fill: var(--accent-color);
}

.portfolio-section {
  padding-top: 66px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 94px;
  }
}

.buttons-main-section {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 45px;
}
@media screen and (min-width: 1200px) {
  .buttons-main-section {
    margin-bottom: 56px;
  }
}

.button-main-section {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 15px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  font-style: normal;
  background: #f5f4fa;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main-section:hover, .button-main-section:focus {
  background: var(--accent-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-section {
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .img-section {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .img-section {
    width: 1200px;
  }
}

.img-portfolio {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .img-portfolio {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .img-portfolio {
    width: 370px;
  }
}
.img-portfolio:hover, .img-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-portfolio > a {
  text-decoration: none;
  font-style: normal;
}

.img-h3 {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  text-transform: none;
  color: #212121;
}

.img-p {
  font-size: 16px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .img-p {
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .img-div-first {
    height: 146px;
  }
}

.img-div {
  border: 1px solid #eeeeee;
  padding: 24px 20px;
}
@media screen and (min-width: 1200px) {
  .img-div {
    height: 110px;
  }
}

.img-text-wrap {
  position: relative;
  overflow: hidden;
}

.top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-portfolio:hover .top-text {
  transform: translateY(0);
}

footer {
  width: 100%;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .container-footer {
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 70px;
  }
}

.logo-footer {
  display: flex;
  text-decoration: none;
  font-family: "Raleway";
  text-align: center;
  justify-content: center;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    justify-content: flex-start;
    align-items: baseline;
  }
}

.footer-address {
  white-space: nowrap;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer-link {
  justify-content: center;
  text-decoration: none;
  font-style: normal;
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-ul {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-self: center;
}
@media screen and (min-width: 1200px) {
  .footer-ul {
    align-items: baseline;
    flex-wrap: nowrap;
  }
}

.footer-li {
  margin-bottom: 9px;
  align-self: center;
}
@media screen and (min-width: 1200px) {
  .footer-li {
    align-self: flex-start;
    flex-wrap: nowrap;
  }
}

.social-links-footer h2 {
  justify-content: center;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .social-links-footer h2 {
    text-align: left;
    align-self: flex-start;
    align-items: baseline;
  }
}

.social-footer-ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.social-footer-li {
  width: 44px;
  height: 44px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form {
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 1200px;
    align-self: flex-start;
    margin-left: 23px;
  }
}

.footer-form h2 {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer-form h2 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form h2 {
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    align-items: baseline;
  }
}

.form-email {
  font-size: 16px;
  line-height: 1.14;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2f303a;
  padding-left: 16px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .form-email {
    align-self: center;
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .form-email {
    align-self: flex-start;
    width: 358px;
    height: 50px;
  }
}

.icon-form-email {
  margin-left: 10px;
}

.button-email {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--accent-color);
  border-style: none;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .button-email {
    margin-left: 12px;
  }
}

.footer-form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  row-gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form-email {
    justify-content: flex-start;
    flex-direction: row;
  }
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #fff;
}
.social-link:hover .icon-footer, .social-link:focus .icon-footer {
  fill: #fff;
}/*# sourceMappingURL=main.css.map */