h2 {
  @include font(36px, 1.16, 700, 0.03em);
  text-align: center;
  color: #212121;
}

h3 {
  font-style: normal;
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
}
p {
  font-style: normal;
  @include font(14px, 1.71, 400, 0.03em);
  color: #757575;
}
